.lead {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:830px) {
  .lead {
    flex-direction: column-reverse;
    text-align: center;
  }
}