.header__link {
  color: #263238;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.header__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8F95A5;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__link:hover {
  opacity: .8;
}

.header__link:hover::after {
  opacity: .8;
}